.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    width: 400px;
    background-color: #bde0fe;
    border: 2px solid #a2d2ff;
    border-radius: 1px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 1.5rem;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .form-input {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.25rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffafcc;
    border-radius: 3px;
  }

  .submit-container {
    display: flex;
    justify-content: center;
  }

  .submit-btn {
    background-color: #ffafcc;
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  