$primary: #A4161A;
$secondary: #660708;

@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min.css';

$dark: #0B090A;
$light: #D3D3D3;

$background-gradient: linear-gradient(to bottom, $dark, $light);

* {
  margin: 0;
  padding: 0;
}
